.main-container{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stars{
    cursor: pointer;
}

.stars span{
    font-size: 40px;
}
.active{
    color: rgb(143, 248, 22);
    /* background-color: rgb(143, 248, 22); */
}